body {
  margin: 0;
}

.icl-tooltip {
  position: fixed;
  display: none;
  z-index: 99999;
  top: 10px;
  left: 100px;
  color: #fff;
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.95);
  font-family: Arial,Helvetica,sans-serif !important;
  font-size: 37px;
}

.icl-monochrome-contrast {
  webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.icl-light-contrast {
  -webkit-text-fill-color: unset !important;
  color: #1f2533 !important;
  background-color: #fff !important;
}

.icl-dark-contrast {
  -webkit-text-fill-color: unset !important;
  color: #fff !important;
  background-color: #181818 !important;
}

.icl-text-align-center {
  text-align: center !important;
}

.icl-text-align-left {
  text-align: left !important;
}

.icl-text-align-right {
  text-align: right !important;
}

.icl-big-black-cursor {
  cursor: url(https://acsbapp.com/apps/app/dist/media/cursor.svg),default !important;
}

.icl-big-white-cursor {
  cursor: url(https://acsbapp.com/apps/app/dist/media/cursor2.svg),default !important;
}

.icl-desaturate {
  filter: saturate(50%);
  -webkit-filter: saturate(50%);
  -moz-filter: saturate(50%);
  -ms-filter: saturate(50%);
  -o-filter: saturate(50%);
}

.icl-saturation-contrast {
  filter: saturate(200%);
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
  -ms-filter: saturate(200%);
  -o-filter: saturate(200%);
}

.icl-emphasize-links a {
  outline: 2px solid rgba(255,114,22,.5) !important;
  outline-offset: 2px !important;
}

.icl-readable-font {
  font-family: Arial,Helvetica,sans-serif !important;
}

.icl-reading-mask-element {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  pointer-events: none;
  background-color: rgba(0,0,0,.5);
  z-index: 9999999;
}

.icl-reading-guide {
  display: none;
  box-sizing: border-box;
  background: #000;
  width: 40vw!important;
  min-width: 200px!important;
  position: absolute!important;
  height: 12px!important;
  border: solid 3px #fff300;
  border-radius: 5px;
  top: 20px;
  z-index: 2147483647;
  transform: translateX(-50%);
}

.icl-reading-mask-element-top {
  top: 0;
  bottom: auto;
}

.icl-reading-mask-element-bottom {
  top: auto;
  bottom: 0;
}

.inclue-app {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;

  .inclue-trigger {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.inclue-app * {
  box-sizing: border-box; 
}

.inclue-trigger .widget-icon {
  width: 100%;
  height: 100%;
}

.inclue-widget {
  overflow: scroll;
  height: 550px;
  position: absolute;
  width: 390px;
  right: 1rem;
  bottom: 5rem;
  border-radius: 4px;
  background-color: #f7fcff;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*** header */
.inclue-widget-header {
  text-align: center;
  background-color: #2b6cb0;
  color: white;
  margin: 0;
  padding: 16px;
}

/*** body */
.inclue-widget-body {
  padding: 8px 14px 8px 14px;
}

/*** options */
.icl-section-card {
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
  margin: 14px 0 24px 0;
  padding: 10px;
}

.icl-section-title {
  text-align: center;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 4px;
}

.access-option {
  padding: 16px 12px 20px 12px;
  margin-top: 3px;
  border-bottom: 1px solid #dcdce6;
}

.icl-button-options {
  padding: 20px 8px 8px 8px;
  display: inline-block;
}

.icl-option-title {
  margin: 0;
  float: right;

  p, h4 {
    margin: 0;
  }
}

.icl-option-description {
  padding-top: 20px;
  
  p {
    margin: 0;
  }
}

.icl-d-flex {
  display: flex;
  align-items: center;
}

.icl-option-container {
  padding-left: 20px;
}

/*** switches */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dcdce6;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2b6cb0;
}

input:focus + .slider {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*** button checkboxes */
/* The container */
.container {
  padding: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: inline-block;
  height: 100px;
  width: 150px;
  background-color: #dcdce6;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #dcdce6;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2b6cb0;
  border: 1px solid #2b6cb0;
  color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  color: white;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}